<div class="">
  <div class="row">
    <div class="users col-3">
      <!-- <div class="row mb-3 d-flex justify-content-center">
        <button
          type="button"
          [disabled]="locationAccess"
          class="btn btn-outline-secondary w-auto mx-1"
        >
          {{ "map.enableTracking" | translate }}
        </button>
        <button
          type="button"
          [disabled]="!locationAccess"
          class="btn btn-outline-secondary w-auto mx-1"
        >
          {{ "map.disableTracking" | translate }}
        </button>
      </div> -->
      <div class="row">
        <label class="mb-2" for="address-lookup">Address Lookup</label>
        <input
          class="form-control"
          type="text"
          name="address-lookup"
          id="address-lookup"
          placeholder="Search address here"
          [(ngModel)]="address"
          (keyup)="getAddress()"
        />
        <div *ngIf="searchResult$ | async" class="search-results">
          <ul
            class="search-items"
            *ngFor="let address of searchResult$ | async"
          >
            <li (click)="addressSearchResult(address)">
              {{ address.display_name }}
            </li>
          </ul>
          <!-- <div *ngFor="let list of address"></div> -->
        </div>
      </div>
      <div class="row">
        <label for="">Search Route</label>
        <div class="col-5 route-input">
          <input
            #from
            class="form-control"
            type="text"
            name="search-from"
            id="search-from"
            placeholder="from"
            [(ngModel)]="searchFrom"
            (keyup)="routeSearchInput(from.id)"
          />
          <div *ngIf="searchResult$ | async" class="search-results">
            <ul
              class="search-items"
              *ngFor="let address of searchResult$ | async"
            >
              <li (click)="searchResultFrom(address)">
                {{ address.display_name }}
              </li>
            </ul>
            <!-- <div *ngFor="let list of address"></div> -->
          </div>
        </div>
        <div class="col-5 route-input">
          <input
            #to
            class="form-control"
            type="text"
            name="search-to"
            id="search-to"
            placeholder="to"
            [(ngModel)]="searchTo"
            (keyup)="routeSearchInput(to.id)"
          />
          <div *ngIf="searchResult$ | async" class="search-results">
            <ul
              class="search-items"
              *ngFor="let address of searchResult$ | async"
            >
              <li (click)="searchResultTo(address)">
                {{ address.display_name }}
              </li>
            </ul>
            <!-- <div *ngFor="let list of address"></div> -->
          </div>
        </div>
        <div class="col-2 px-0">
          <button class="form-control" (click)="routeFunction()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="row active-users">
        <h5>{{ "map.activeUsers" | translate }}</h5>
      </div>
    </div>
    <div class="map-container col-9 center">
      <!-- <h5>{{ "map.map" | translate }}</h5> -->
      <div id="map"></div>
    </div>
  </div>
</div>
