<div class="">
  <div class="row">
    <div class="users col-3">
      <div class="row">
        <label class="mb-2 fw-bold" for="address-lookup">{{
          "map.addressLookup" | translate
        }}</label>
        <input
          class="form-control"
          type="text"
          name="address-lookup"
          id="address-lookup"
          placeholder="{{ 'map.searchAddressHere' | translate }}"
          [(ngModel)]="address"
          (keyup)="getAddress()"
        />
        <div *ngIf="searchResult$ | async" class="search-results">
          <ul
            class="search-items"
            *ngFor="let address of searchResult$ | async"
          >
            <li (click)="addressSearchResult(address)">
              {{ address.display_name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="row route">
        <label class="mb-2 fw-bold" for="">{{
          "map.searchRoute" | translate
        }}</label>
        <div class="col-5 route-input">
          <input
            #from
            class="form-control"
            type="text"
            name="search-from"
            id="search-from"
            placeholder="{{ 'map.from' | translate }}"
            [(ngModel)]="searchFrom"
            (keyup)="routeSearchInput(from.id)"
          />
          <div *ngIf="searchFrom$ | async" class="search-results">
            <ul
              class="search-items"
              *ngFor="let address of searchFrom$ | async"
            >
              <li (click)="searchResultFrom(address)">
                {{ address.display_name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-5 route-input">
          <input
            #to
            class="form-control"
            type="text"
            name="search-to"
            id="search-to"
            placeholder="{{ 'map.to' | translate }}"
            [(ngModel)]="searchTo"
            (keyup)="routeSearchInput(to.id)"
          />
          <div *ngIf="searchTo$ | async" class="search-results">
            <ul class="search-items" *ngFor="let address of searchTo$ | async">
              <li (click)="searchResultTo(address)">
                {{ address.display_name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2 px-0">
          <button class="form-control" (click)="routeFunction()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="row active-users">
        <h5>{{ "map.activeUsers" | translate }}</h5>
      </div>
    </div>
    <div class="map-container col-9 center">
      <div id="map"></div>
    </div>
  </div>
</div>
