<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="brand-language">
    <a class="navbar-brand" [routerLink]="['/']">GeoLocation</a>
    <select name="" id="" class="" (change)="changeLang($event.target)">
      <option value="en" [selected]="lang == 'en'">English</option>
      <option value="de" [selected]="lang == 'de'">Deutsch</option>
    </select>
  </div>

  <ul class="login-register">
    <li *ngIf="!userLogin">
      <a [routerLink]="['/login']">{{ "login" | translate }}</a>
    </li>
    <li *ngIf="!userLogin">
      <a [routerLink]="['/register']">{{ "register" | translate }}</a>
    </li>
    <li *ngIf="userLogin" style="padding-right: 30px">
      <span>{{ "welcome" | translate }} </span>__
    </li>
    <li *ngIf="userLogin">
      <a href="">{{ "logout" | translate }}</a>
    </li>
  </ul>
</nav>
